body {
  font-family: freight-sans-pro, Calibri, Tahoma, Arial,  MS Serif, calibri, arial;
  text-rendering: optimizelegibility;
  float:left;
  background-image: url("clouds.svg");
  background-attachment: fixed;   
}

ul{
    padding-left: 0px;
    
}
.homeLink {
  text-decoration: none;
  padding-left: 3.5%;
}
.homeLink:hover {
  text-decoration: none;    
}
.CapsheadLetter, .headLetter{
  position:relative;
  margin-top:-28%;
}
#WebBack {
  position: relative;
  float:left;
  z-index:20;
  background-color: #a2ecc0;
  left:-3.5%;
  width: 100%;  
}

.CapsheadLetter {  padding-top: 6%; vertical-align: baseline; z-index: 30; } 
.headLetter {   vertical-align: baseline; z-index: 30; }
#J { width:13%; }
#E { width:13.5%; }
#W { width:13.5%; }
#A { width: 12%; }
#N1, #N2, #Y   { width:11%; }
#O, #D1{ width:10.5%; }
#R, #S{ width: 10% }
#D2 { width: 9%; }
#dotNet {z-index: 30; }
#menuWrapper {
  position:relative;
  float:left;
  margin-top:10px;
  padding-top:0.3%;
  padding-bottom:0.3%;
}
#menu {  
  font-size: 18pt;
  position: relative;
  z-index:10;
  width:100%;
}

.menuItem{    
  position:relative;
  display:inline;
  color:rgb(10, 161, 121);	
  background: none;
  border: 0px;  
  font-size: 70%;
  font-weight: 300;
  
  min-width:15%;
  text-align: center;
}

.menuLink {
  text-decoration: none !important;    
}
#pagebody, #footer{
  position:absolute;
  margin-top:10px;
  text-align:center;  
}
#pageTitle {    
  font-size: 18pt;
  font-weight: bold;
}
#pageSideBarTitle {
  font-size: 16pt;
  font-weight: bold;
  
}
#pageContent{
  position:relative;
}
.left{
  position:relative;
  float:left;
}
