#PageWrapper {
  margin-left: 12%;
  margin-right: auto;
}
#WebBackWrapper {
  position: absolute;
  margin-top: 60px;
  width:97%;
}
#WebBack {
  margin-top:-28%;
  width:180%;
}
#Jonny{
  position: relative;  
  float:left;
  width: 50%;
  top:-5px;    
  display:inline;
  margin-right:-19%;  
 
}
#JonnyLink{
  position:relative;
  height:600px;
}
#Edwards{
  position:relative;
  float:left;
  width:50%;
  margin-top: -22%;
  height:150px;
  display:inline;   
}
#dotNet, #dotNetWrapper{
  position:absolute;
  top:5%;
  margin-top: 63%;
  margin-left:7px;
  width:20%;
}
/*
* MAIN MENU
*/
#menu {
    position:relative;
    top: -20px;    
}
#menuWrapper {  
  width: 100%;
  z-index: 10;
}
.menuItem {
  background-color: rgb(117,218,208);
  color: white;  
  padding: 5px;
  padding-top: 25px;  
}
.menuItem:hover{  
  text-decoration: none !important;
}
/*
* MAIN CONTENT
*/
#contentWrapper{
  
  position: relative;
  float:left;
  width:172%;
  text-align:center;

}
.pageTitle{
  position:absolute;
  left: -400px;
  margin-top: -5px;
}
#pageBody{
  text-align:left;
  position:absolute;
  margin-top:10px;
  width:130%;

}
#pageTitle{
  position:relative;
  width: 210px;
  height:80px;
  float:left;
}
#pageContent{
  position:relative;
  float:left;
  width:79%;
  left:-1%;
  padding-right: 0.5%;
  padding-left: 2%;
}
#pageSideBar{
  position:relative;
  float:left;
  width:18%;
  text-align: left; 
}
#pageSideBarWrapper{
  position:absolute;
  width:100%;
  padding-right:25%;
  background-color:#55bb8f;
  padding-left:5%;
  margin-left:-5%;
}
#menu{
  left: -25%;    
}
