#titleWrapper {
   position:relative;
   
   margin-left:12.5%;
   
}
#WebBackWrapper {
  position: absolute;
  margin-top: 60px;
  width:100%;
}
#WebBack {
  margin-top:-28%;
  width:180%;
}
#Jonny{
  position: relative;  
  float:left;
  width: 50%;
  top:-5px;    
  display:inline;
  margin-right:-19%;   
}
#JonnyLink{
  position:relative;
  height:600px;
}
#Edwards{
  position:relative;
  float:left;
  width:50%;
  margin-top: -22%;
  height:150px;
  display:inline;   
}
#dotNet, #dotNetWrapper{
  position:absolute;
  top:5%;
  margin-top: 63%;
  margin-left:7px;
  width:20%;
}
/*
* MAIN MENU
*/
#menu {
  position:relative;
  top: -20px;    
}
#menuWrapper {  
  width: 100%;
  z-index: 10;
}
.menuItem {
  position:relative;
  background-color: rgb(117,218,208);
  color: white;  
  padding: 5px;
  padding-top: 25px;  
  margin-right:0.2%;
  margin-left:0.2%;
}
.menuItem:hover{  
  text-decoration: none !important;
}
/*
* MAIN CONTENT
*/
#contentWrapper{  
  position: relative;
  float:left;
  width:100%;  
  text-align:center;    
}
.pageTitle{
  position:absolute;
  left: -400px;
  margin-top: -5px;
}
#pageBody{  
  position:absolute;
  top:10px;
  margin-top:20px;
  margin-left:5%;
  width:90%;

  height: 900px;
}
#pageTitle{
  position:relative;
  width: 210px;
  height:80px;
  float:left;
}
#pageContent{
  position:relative;
  float:left;
  width:100%;
}

