body {
  font-family: freight-sans-pro, Calibri, Tahoma, Arial,  MS Serif, calibri, arial;
  text-rendering: optimizelegibility;
  float:left;
  background-color:white;
  background-attachment: fixed;   
  width: 100%;  
}
/* TITLE */
.homeLink {
  text-decoration: none;
  padding-left: 3.5%;
}
.homeLink:hover {
  text-decoration: none;    
}
.CapsheadLetter, .headLetter{
  position:relative;
  margin-top:-28%;
}
#WebBack {
  position: relative;
  float:left;
  z-index:20;
  background-color: #a2ecc0;
  left:-3.5%;
  width: 100%;  
}
.CapsheadLetter {  padding-top: 6%; vertical-align: baseline; z-index: 30; } 
.headLetter {   vertical-align: baseline; z-index: 30; }
#J { width:13%; }
#E { width:13.5%; }
#W { width:13.5%; }
#A { width: 12%; }
#N1, #N2, #Y   { width:11%; }
#O, #D1{ width:10.5%; }
#R, #S{ width: 10% }
#D2 { width: 9%; }
#dotNet {z-index: 30; }

/* MENUS */
#menuWrapper {
  position:relative;
  float:left;
  margin-top:10px;
  padding-top:0.3%;
  padding-bottom:0.3%;
}
#menu {  
  font-size: 18pt;
  position: relative;
  z-index:10;
  width:100%;
}
.menuItem{    
  position:relative;
  display:inline;
  color:rgb(10, 161, 121);	
  background: none;
  border: 0px;  
  font-size: 70%;
  font-weight: 300;
  min-width:15%;
  text-align: center;
}
.menuLink {
  text-decoration: none !important;    
}
#navMenu{
  display:none;    
}
.dropdown{
  height:40px;    
}

/* MAIN CONTENT HANDLER */
#contentWrapper{  
  position: relative;
  float:left;
  width:100%;  
  text-align:center;    
}
#pagebody, #footer{
  position:absolute;
  margin-top:10px;
  text-align:center;  
  
}
#pageTitle {    
  font-size: 18pt;
  font-weight: bold;
}
#pageSideBarTitle {
  font-size: 16pt;
  font-weight: bold;
  
}
#pageContent{
  position:relative;
}
.left{
  position:relative;
  float:left;
}

/* CONTENT DEFINITIONS */
/* Cartoons */
.cartoon, .paragraph {
  margin-top:20px;   
}
.park{
  position:relative;   
  margin-left: -2%;
}

/* Code Blocks */
pre {
    position:relative;
    text-align: left;
    width:100%;
}
.codeOdd {
    position:relative;
    width:100%
    
}
.codeEven {
    position:relative;
    background-color:lightgray;
    width:100%;
}

/* Collapsible */
.collapser{
    margin-top: 20px;
    background-color: rgb(117,218,208);
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    color:white;
    font-size:110%;
    background-repeat: no-repeat;
    background-position: 5px center;
    background-image : url("/images/pointerRight.svg");
}
.collapsee{
    position:relative;
    text-align: left;
    border-top: 4px solid #333;
    border-bottom: 4px solid #333;
    background-color:lightyellow;        
    color:#333;
}