#titleWrapper {
   position:relative;   
   margin-left:12.5%;   
}
#WebBackWrapper {
  position: absolute;
  margin-top: 60px;  
}
#WebBack {
  margin-top:-140px;
  
  width:92.5%;
  
}
#Jonny{
  position: relative;  
  float:left;
  width: 50%;   
  display:inline;
  height:150px;
  margin-right: -18%;
}
#JonnyLink{
  position:relative;
  height:600px;
}
#Edwards{
  position:relative;
  float:left;
  width:50%;  
  margin-top: -21.5%;
  height:150px;
  display:inline;   
  
}
#dotNet, #dotNetWrapper{
  position:absolute;
  top:5%;
  margin-top: 63%;
  margin-left:7px;
  width:20%;
}
/*
* MAIN MENU
*/
#menu {
  position:relative;
  
  float:left;
}
#menuWrapper {  
  position:relative;
  float:left;
  width: 100%;
  top: -15px;    
  z-index: 10;
}
.menuItem {
  position:relative;
  background-color: rgb(117,218,208);
  color: white;  
  padding: 5px;
  padding-top: 25px;  
  margin-right:0.5%;
  margin-left:0.5%;
}
.menuItem:hover{  
  text-decoration: none !important;
}
/*
* MAIN CONTENT
*/
#contentWrapper{  
  position: relative;
  float:left;
  width:100%;  
  text-align:center;    
}
.pageTitle{
  position:absolute;
  left: -400px;
  margin-top: -5px;
}
#pageBody{  
  position:absolute;
  top:10px;
  margin-top:20px;
  margin-left:20%;
  width:60%;
  background-color:white;
}
#pageTitle{
  position:relative;
  width: 210px;
  height:80px;
  float:left;
}
#pageContent{
  position:relative;
  float:left;
  width:100%;
}

